# 1. Numeric types

## 1.1. Creating numbers
Python supports 3 numeric types: `int` (integer numbers), `float` (decimal or floating point numbers) and `complex` (complex numbers).

Directly defining by using correct syntax of each class.

In [ ]:
my_integer = 10
type(a)

In [ ]:
my_decimal = 1.25
type(b)

In [ ]:
my_complex = 3 + 4j
type(c)

In [ ]:
1e5

Each class provides a contructor function returning an instance.

In [ ]:
int(3.14)

In [ ]:
int('3f', base=16)

In [ ]:
float(5)

In [ ]:
complex(7)

In [ ]:
complex(3, 4)

## 1.2. Numeric operators

In [ ]:
# the sum
5 + 3.14

In [ ]:
# the difference
6 - 9

In [ ]:
# the product
3 * (5+2.5j)

In [ ]:
# the quotient
40 / 8

In [ ]:
# the floored quotient
41 // 5

In [ ]:
# the division remainder
41 % 5

In [2]:
dividend = 41
divisor = 5

quotient, remainder = divmod(dividend, divisor)

print(f'{dividend} = {divisor} * {quotient} + {remainder}')

41 = 5 * 8 + 1

In [ ]:
# 2 to the power 5
2**5

In [3]:
pow(2, 5)

32

In [4]:
# the square root
from math import sqrt
sqrt(25)

5.0

In [ ]:
# the absolute value
abs(5+12j)

## 1.3. Mathematical constants and functions

In [ ]:
import math

In [ ]:
# the pi constant
math.pi

In [ ]:
# the e constant
math.e

In [ ]:
# the infinity
1/math.inf

In [ ]:
# the factorial
math.factorial(10)

In [ ]:
# the nearest integer on the right of 5.6
math.ceil(5.6)

In [ ]:
# the nearest interger on the left of 5.6
math.floor(5.6)

In [ ]:
# e to the power of 2
math.exp(2)

In [ ]:
# the logarith to the base of 10
math.log(100, 10)

In [ ]:
# the logarithm to the base of e, or natural logarithm
math.log(math.e)

In [ ]:
# the cosine of pi
math.cos(math.pi)

In [ ]:
# round to 2 decimal places
round(1.4825, 2)

In [ ]:
# round to 1 digit on the left of the decimal separator
round(133.45, -1)

In [ ]:
# round to integer
round(1.85)

In [ ]:
round?

## 1.4. Number methods and attributes

In [ ]:
my_decimal = 7.0
my_decimal.is_integer()

In [ ]:
my_complex = 3+4j
my_complex.real

In [ ]:
my_complex = 3+4j
my_complex.imag

# 2. Boolean type

The only two Boolean values in Python are written as `True` and `False` (capitalized).\
Comparisons and other conditional expressions evaluate to either `True` or `False`. Boolean values are combined with the `and` and `or` keywords.

## 2.1. The uses of Boolean objects

In [ ]:
1 == 2

In [ ]:
1 < 2

In [ ]:
'a' in 'anaconda'

In [ ]:
'b' not in 'anaconda'

In [ ]:
'1996'.isdigit()

In [ ]:
# check if 7. is an instance of "float" class
isinstance(7., float)

## 2.2. Boolean rules
`True   and  True   =  True`\
`True   or   True   =  True`\
`False  and  False  =  False`\
`False  or   False  =  False`\
`True   and  False  =  False`\
`True   or   False  =  True`

In [ ]:
True and False and False or True
# = False and False or True
# = False or True
# = True

In [ ]:
True and (False and True) or (False or True)
# = True and False or True
# = False or True
# = True

In [ ]:
sum([True, False, True, True])

# 3. None type

In [ ]:
# "None" must be capitalize
a = None
type(a)

In [18]:
None == 0

False

# Recap of function, method, constant and attribute
Object       |Functionality    |Scope                    |Syntax                             |
:------------|:----------------|:------------------------|:----------------------------------|
**Function** |Perform an action|Independent              |`function(parameter=argument)`     |
**Method**   |Perform an action|Associated with an object|`object.method(parameter=argument)`|
**Constant** |Return a value   |Independent              |`constant`                         |
**Attribute**|Return a value   |Associated with an object|`object.attribute`                 |

# 4. String
String is a sequence type, immutable object.

## 4.1. Creating strings
Strings are created using a single quotes `''`, a double quotes `""` or the constructor.

In [21]:
'python 3.7'

'python 3.7'

In [22]:
print('''This string
spans multiple lines''')

This string
spans multiple lines

In [23]:
str(245)

'245'

## 4.2. String maniplation

#### String operations

In [ ]:
# concatenating
'the pi number ' + 'is ' + '3.14'

In [ ]:
# multiplifying
'abc' * 3

In [ ]:
'py' in 'jupyter'

In [ ]:
'py' not in 'python'

#### Python functions work with string

In [ ]:
len('123456789')

In [ ]:
eval('1+2')
# the passed string must represent an expression

In [ ]:
max('jupyter, notebook')

In [ ]:
min('abc123')

#### String methods

In [ ]:
'jack o lantern'.split(sep=' ')

In [ ]:
'-'.join(['jack', 'o', 'lantern'])

In [1]:
'old string old'.replace('old', 'new')

'new string new'

In [5]:
'old string old'.replace('old', 'new', 1)

'new string old'

In [ ]:
'jupyter noteBOOK'.capitalize()

In [ ]:
'jupyter noteBOOK'.title()

In [ ]:
'jupyter'.upper()

In [ ]:
'JUPYTER'.lower()

In [ ]:
'noteBOOK'.swapcase()

In [ ]:
'jupyter'.endswith('ter')

In [ ]:
'notebook'.startswith('no')

In [ ]:
'anaconda'.count('a')

In [ ]:
'1234'.isnumeric()

In [ ]:
'abc'.isalpha()

In [ ]:
'ab12'.isalnum()

In [ ]:
'ABCD'.isupper()

In [ ]:
'abcd'.islower()

In [ ]:
'Abcd Abcd'.istitle()

## 4.3. Index and slicing
Python string supports slicing to create substrings. It returns a new object and the original string remains unchanged.

#### Index
Indexing rules for the string "ANACONDA":

`positive index:   0  1  2  3  4  5  6  7`  
**`string:           A  N  A  C  O  N  D  A`**  
`negative index:  -8 -7 -6 -5 -4 -3 -2 -1`

In [ ]:
my_string = 'abcdef'
my_string.index('cd')

#### Slicing
Slicing notation: `string[start:stop:step]`,\
where the part `start:stop` uses character indices and represents a half-open interval `[start; stop)` that includes the start index and does not include the stop index. If not specified, `start` defaults to 0, `stop` defaults to the length of the string and `step` defaults to 1.

In [ ]:
digits = '0123456789'
digits[2:7]

In [2]:
digits = '0123456789'
digits[7:]

'789'

In [3]:
digits = '0123456789'
digits[:7]

'0123456'

In [ ]:
digits = '0123456789'
digits[7]

In [4]:
digits = '0123456789'
digits[::2]

'02468'

In [ ]:
digits = '0123456789'
digits[1:-1]

In [ ]:
digits = '0123456789'
digits[:7] + digits[7:] == digits

In [ ]:
# reverse a string
digits = '0123456789'
digits[::-1]

## 4.4. String literals

#### The escape character
In strings, the backslash `\` behaves as the escape character and tells Python that the following characters (`n`, `t`, `'`, `"`, `\`, `u`, `U`) have a special meaning.

In [ ]:
# new line
print('aaa\nbbb')

In [ ]:
# tab
print('aaa\tbbb')

In [ ]:
# backslash
print('C:\\Users')

In [ ]:
# single quote
print('It\'s raining')
print("It's raining")

In [ ]:
# Greek letters, using Unicode
print('''alpha: \u03b1 \t beta: \u03b2 \t gamma: \u03b3
delta: \u03b4 \t epsilon: \u03b5 \t theta: \u03b8
lambda: \u03bb \t mu: \u03bc \t\t pi: \u03c0
sigma: \u03c3 \t phi: \u03c6 \t omega: \u03c9''')

#### Bytes
A string prefixed with `b` returns an instance of the `bytes` type instead of `str` type. Bytes stores ASCII characters only.

In [32]:
bytes('Tiếng Việt', 'utf-8')

b'Ti\xe1\xba\xbfng Vi\xe1\xbb\x87t'

In [29]:
'Tiếng Việt'.encode('utf-8')

b'Ti\xe1\xba\xbfng Vi\xe1\xbb\x87t'

In [30]:
b'Ti\xe1\xba\xbfng Vi\xe1\xbb\x87t'.decode('utf-8')

'Tiếng Việt'

#### Raw string
A string prefixed with `r` and treats backslashes as literal characters. This is very useful to input a directory.

In [33]:
print(r'a\nb')

a\nb

In [34]:
r'C:\Users'

'C:\\Users'

#### Formatted string
Formatted strings are `f` prefixed, and the formatted part is placed inside braces `{}`.

In [ ]:
f'1 + 2 = {1+2}'

In [ ]:
name = 'Hung'
f'My name is {name}'

## 4.5. Formatting
*Reference: [PyFormat](https://pyformat.info/)*

#### Basic formatting
The `str.format()` method fill its arguments to the placeholder (identify with the braces `{}`):
- If a placeholder is empty then it will be filled with the corresponding argument
- If a placeholder contains a number, that number acts as the index of the filling argument
- If a placeholder contains a name, it will be filled with the value of that variable

In [42]:
'The answer is {}'.format(3+4)

'The answer is 7'

In [43]:
'{} and {} and {}'.format('a', 1, None)

'a and 1 and None'

In [44]:
'{1} {0} {0} {1}'.format('three', 'seven')

'seven three three seven'

In [45]:
'The {cat} is {color}'.format(cat='panther', color='black')

'The panther is black'

The prefix `f` can be used instead of the `str.format()` method.

In [ ]:
cat = 'panther'
color = 'black'
f'The {cat} is {color}'

#### String padding and truncating

In [46]:
# default padding uses whitespace characters and left aligns
'{:10}'.format('test')

'test      '

In [47]:
# right align
print('{:*>10}'.format('test'))

# left align
print('{:*<10}'.format('test'))

# center align
print('{:*^10}'.format('test'))

******test
test******
***test***

In [48]:
# truncate to a 6-character long string
'{:.6}'.format('google chrome')

'google'

In [49]:
# combine padding and truncating
'{:*>10.6}'.format('google chrome')

'****google'

#### Number formatting
*Reference: [mkaz.blog](https://mkaz.blog/code/python-string-format-cookbook/)*

In [ ]:
# using comma (,) as thousands separator
'{x:,}'.format(x=123456789)

For integers, use `d`.

In [52]:
'{: 05d}'.format(85)

# " " indicates there is a leading space " " should be used on positive number, a minus sign "-" on a negative number
# "0" indicates the number 0 is used for padding
# "5" is the fixed length

' 0085'

For floats, use `f`.

In [ ]:
# round to 2 decimal places
'{pi:.2f}'.format(pi=3.14159265359)

In [56]:
# "#" option causes the output to always contain a decimal point 
'{pi:#.0f}'.format(pi=3.14159265359)

'3.'

In [1]:
# "#" option causes the output to always contain a decimal point 
'{pi:.2%}'.format(pi=3.14159265359)

'314.16%'

## 4.6. Regular expression
A regular expression (regex) is a sequence of characters that defines a search pattern. For example, `^a...s$` defines any five-letter string starting with `a` and ending with `s`. Python has the module `re` to work with regex.

#### Search pattern and metacharacters
Metacharacters are characters that are interpreted in special way by a regex engine. The metacharacters are: `.` `^` `$` `*` `+` `?` `[]` `()` `{}` `\` `|`.

In [1]:
import re

A period `.` matches any single character, except for `\n`. The `re.findall()` function finds all the substrings that match the search pattern.

In [2]:
# return all 3-character substrings
re.findall('...', 'abcd\n1234')

['abc', '123']

In [3]:
# return all 3-character substrings, including "\n"
re.findall('...', 'abcd\n1234', flags=re.DOTALL)

['abc', 'd\n1', '234']

The caret `^` is used to check if the string starts with certain characters.\
The dollar sign `$` is used to check if the string ends with certain characters.

In [9]:
# return the first 3 characters if the original string starts with "ab"
re.findall('^ab.', 'abcdefgf')

['abc']

In [ ]:
# return the last 4 characters if the original string ends with "89"
re.findall('..89$', '0123456789')

Adding `flags=re.MULTILINE` will search the pattern in every line instead of the entire string only, and return as much text as possible.

In [10]:
string = '''
abcd
amnd
abcde
aabcdd
'''
re.findall('^a..d$', string, flags=re.MULTILINE)

['abcd', 'amnd']

The following metacharacters match a number of occurances of the preceding character:  
- The asterisk `*` matches 0 or more repetitions.
- The plus sign `+` matches 1 or more repetitions.
- The question mark `?` matches 0 or 1 repetitions.
- The braces `{x,y}` match at least x and at most y repetitions.

For example:\
`ma*n` matches `mn`, `man`, `maan`, `maaan`,...\
`ma+n` matches `man`, `maan`, `maaan`,...\
`ma?n` matches `mn` and `man` only.\
`ma{2,4}n` matches `maan`, `maaan` and `maaaan` only.

In [12]:
re.findall('ma+n', 'mn man maan maaan main')

['man', 'maan', 'maaan']

In [13]:
re.findall('ma{2,3}n', 'mn man maan maaan main')

['maan', 'maaan']

The brackets `[]` specifies a set of character you wish to match. You can use `-` to specify a range of characters and use `^` to denote that the characters not in the set will be match.

In [14]:
re.findall('[Aa]', 'Anaconda')

['A', 'a', 'a']

In [15]:
re.findall('[a-e]', 'jupyter notebook')

['e', 'e', 'b']

In [16]:
re.findall('[^1-9]', 'abc123')

['a', 'b', 'c']

The backslash `\` behaves as the escape character.
- `\d` matches any digit. Equivalent to `[0-9]`. The opposite: `\D`.
- `\s` matches if a string contains any whitespace character such as space ` `, new line `\n` and tab `\t`. The opposite: `\S`.
- `\w` matches any alphanumeric character (digits and alphabets). Equivalent to `[a-zA-Z0-9]`. The opposite: `\W`.

In [26]:
re.findall('\d', 'a1b2c34')

['1', '2', '3', '4']

In [22]:
re.findall('\s', 'a string that spans\nmultiple lines')

[' ', ' ', ' ', '\n', ' ']

#### Regex functions

In [ ]:
import re

The `re.findall()` function returns a list of substrings that match the search pattern.

In [23]:
re.findall('\d+', 'date:08month:12year:2019')

['08', '12', '2019']

The `re.split()` function splits the original string using search pattern as the separators.

In [27]:
re.split(':\d+', 'date:08month:12year:2019')

['date', 'month', 'year', '']

In [ ]:
re.split(':\d+', 'date:08month:12year:2019', maxsplit=2)

The `re.sub()` function replace all matches with the content of the `repl` parameter. The `re.subn()` functions works the same but it returns both the replaced string and the number of substitutions made.

In [ ]:
re.sub(
    pattern=r'\s+',
    repl='_',
    string='tiger  lion cheetah \n leopard \t jaguar'
)

In [ ]:
re.sub(
    pattern=r'\s+',
    repl='_',
    string='tiger  lion cheetah \n leopard \t jaguar',
    count=2
)

In [ ]:
re.subn(
    pattern=r'\s+',
    repl='_',
    string='tiger  lion cheetah \n leopard \t jaguar'
)

The `re.search()` and `re.match()` functions both return a `re.match` object.

In [32]:
if re.match('...', 'abcdef'):
    print(True)
else:
    print(False)

True

In [33]:
# return 2 subgroups
match = re.search(r'(\d{3}) (\d{2})', '39801 356, 2102 1111')
print(match.group())
print(match.group(1))
print(match.groups())

801 35
801
('801', '35')

In [34]:
# return the indices of the first and the last character of the match
match = re.search(r'\d+', 'abc12345de')
print(match.start())
print(match.end())
print(match.span())

3
8
(3, 8)

# 5. Date and time types
The built-in Python `datetime` module provides variety of date and time types.

In [ ]:
import datetime

In [ ]:
# show all functions and constants of datetime module
dir(datetime)

## 5.1. Datetime

In [ ]:
import datetime as dt

In [ ]:
dt.datetime?

In [ ]:
dt.datetime.now()

In [ ]:
dt.date.today()

**Note:** `date` and `time` objects are parts of `datetime` object. These 3 objects work the same.

In [ ]:
moment = dt.datetime(2019, 9, 12, 1, 23, 45)
print(moment)
moment

In [ ]:
moment = dt.datetime(year=2019, month=9, day=12, hour=1, minute=23, second=45)
moment

#### Datetime methods and attributes

In [ ]:
moment.year

In [ ]:
moment.month

In [ ]:
moment.day

In [ ]:
moment.hour

In [ ]:
moment.minute

In [ ]:
moment.second

In [ ]:
moment.date()

In [ ]:
moment.time()

In [ ]:
# change some features
moment.replace(hour=0, minute=0, second=0)

## 5.2. Timedelta
The difference between 2 `datetime` objects is a `timedelta` object.

In [1]:
import datetime as dt

In [2]:
moment1 = dt.datetime(2019, 9, 12, 1, 23, 45)
moment2 = dt.datetime.now()
delta = moment2 - moment1
delta

datetime.timedelta(days=225, seconds=59733, microseconds=194044)

In [ ]:
dt.timedelta?

In [ ]:
moment2 + dt.timedelta(weeks=1, days=30, minutes=55)

## 5.3. Datetime formatting
Using the `datetime.strftime()` and `datetime.strptime()` methods. `strftime` stands for "string-format-time" and `strptime` stands for "string-parse-time".

#### Date and time format codes
Code|Meaning                         |Example                             |
:---|:-------------------------------|:-----------------------------------|
`%y`|Year, 2 last digits             |00, 01, 02,..., 99                  |
`%Y`|Year, full                      |0001, 0002,..., 2019, 2020,..., 9999|
`%b`|Month name, abbreviated         |Jan, Feb,..., Dec                   |
`%B`|Month name, full                |January, February,..., December     |
`%m`|Month of the year, zero-padded  |01, 02, 03,..., 12                  |
`%W`|Week of the year, zero-padded   |00, 01, 02,..., 53                  |
`%d`|Day of the month, zero-padded   |01, 02, 03,..., 31                  |
`%a`|Weekday name, abbreviated       |Mon, Tue,..., Sun                   |
`%A`|Weekday name, full              |Monday, Tuesday,..., Sunday         |
`%H`|Hour, 24-hour clock, zero-padded|00, 01, 02,..., 23                  |
`%I`|Hour, 12-hour clock, zero-padded|01, 02, 03,..., 12                  |
`%p`|AM or PM                        |AM, PM                              |
`%M`|Minute, zero-padded             |00, 01, 02,..., 59                  |
`%S`|Second, zero-padded             |00, 01, 02,..., 59                  |

In [ ]:
import datetime as dt

In [ ]:
# strptime() converts a string to a datetime object
string_1 = '11/8/2018 12:18:00 PM'
datetime_1 = dt.datetime.strptime(string_1, '%m/%d/%Y %I:%M:%S %p')
datetime_1

In [ ]:
# strftime() converts a datetime object to a string
datetime_2 = dt.datetime(2018, 11, 8, 12, 18)
string_2 = datetime_2.strftime('%m/%d/%Y %I:%M:%S %p')
string_2

In [ ]:
# get date, day, month of the current day, print as "DD-MM-YYYY"
date = dt.date.today()
date.strftime('%d-%m-%Y')

## 5.4. Timestamp
Also known as Unix timestamp, defined as the number of seconds that have elapsed since 01/01/1970 07:00:00 UTC.

In [ ]:
import datetime as dt

In [ ]:
dt.datetime.now().timestamp()

In [ ]:
dt.datetime.fromtimestamp(0)