# 1. List
A `list` object stores a set of ordered items, each item can be of any data type. Lists are mutable. A list can be defined using square brackets `[]` or using the `list()` function.

In [ ]:
# convert a string to a list
list('python')

In [1]:
# storing different data types
['python', 3.14, None]

['python', 3.14, None]

In [ ]:
# show all methods and attributes
dir([])

## 1.1. Adding and removing items

The `append()` method adds a single object to the end of the list.

In [2]:
cats = ['jaguar', 'tiger', 'lion', 'panther']
cats.append('leopard')
cats

['jaguar', 'tiger', 'lion', 'panther', 'leopard']

The `insert()` method inserts a single object to the list at a given index.

In [11]:
cats = ['jaguar', 'tiger', 'lion', 'panther']
cats.insert(2, 'puma')
cats

['jaguar', 'tiger', 'puma', 'lion', 'panther']

In [ ]:
cats = ['jaguar', 'tiger', 'lion', 'panther']
cats.insert(2, ['cheetah', 'puma'])
cats

The `list.extend()` methods add elements from the given iterable to the end of the list.

In [ ]:
cats = ['jaguar', 'tiger', 'lion', 'panther']
cats.extend('puma')
cats

In [ ]:
cats = ['jaguar', 'tiger', 'lion', 'panther']
cats.extend(['cheetah', 'puma'])
cats

Python supports concatenating lists using the plus sign `+`.

In [ ]:
cats = ['jaguar', 'tiger', 'lion', 'panther']
cats + ['cheetah', 'puma']

In [3]:
['jaguar', 'tiger', 'lion', 'panther'] + ['cheetah', 'puma']

['jaguar', 'tiger', 'lion', 'panther', 'cheetah', 'puma']

The `list.remove()` method deletes the first occurance of the given item.

In [ ]:
cats = ['tiger', 'python', 'lion', 'leopard']
cats.remove('python')
cats

The `list.pop()` method deletes an item at the given index, and returns that deleted item.

In [ ]:
cats = ['tiger', 'python', 'lion', 'leopard']
deleted = cats.pop(1)
print(cats)
print(deleted)

Python also supports using the `del` statement to detele items at specified index.

In [ ]:
cats = ['tiger', 'python', 'lion', 'leopard']
del cats[::2]
cats

## 1.2. List slicing
List slicing works the same as string slicing: `[start:stop:step]`.

#### Slicing review

In [4]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
digits[1:7:2]

[1, 3, 5]

In [ ]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
digits[7]

In [ ]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
digits[7:8]

In [ ]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
digits[:7] + digits[7:]

In [ ]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
digits[::-1]

In [ ]:
nested_list = [['tiger', 5], ['lion', 4], ['jaguar', 6]]
nested_list[1][0]

#### Item assignment
A techinque works only on mutable sequences.

In [ ]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
digits[7] = None
digits

In [ ]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
digits[1:6] = [True, False]
digits

## 1.3. List manipulation <a id='1.3'></a>
A function/method usually does only one of these:
- Returning the output as a new object.
- Alter the input data in-place.

In [ ]:
# sort alphabetically, icreasingly
digits = [5, 2, 1, 6, 3, 0, 7, 9, 4, 8]
digits.sort()
digits

In [ ]:
# sort by item length, decreasingly
cats = ['tiger', 'lion', 'panther', 'leopard', 'jaguar', 'cheetah']
cats.sort(key=len, reverse=True)
cats

In [ ]:
my_list = ['a', 'n', 'a', 'c', 'o', 'n', 'd', 'a']
my_list.count('a')

In [ ]:
cats = ['tiger', 'lion', 'panther', 'leopard', 'jaguar', 'cheetah']
cats.index('panther')

In [ ]:
cats = ['tiger', 'lion', 'panther', 'leopard', 'jaguar', 'cheetah']
len(cats)

In [ ]:
cats = ['tiger', 'lion', 'panther', 'leopard', 'jaguar', 'cheetah']
min(cats)

In [ ]:
cats = ['tiger', 'lion', 'panther', 'leopard', 'jaguar', 'cheetah']
max(cats)

In [ ]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
sum(digits)

## 1.4. Tuple
`tuple` is the immutable version of `list`. Therefore, the in-place methods of `list` cannot be apply to `tuple`.

#### Creating tuples
You can use parentheses `()` or the `tuple()` constructor.

In [ ]:
('tiger', 'lion', 'jaguar')

In [ ]:
cats = ('tiger', 'lion', 'jaguar')
cats

In [ ]:
tuple_1 = ('python')
tuple_2 = ('python',)
type(tuple_1) == type(tuple_2)

In [ ]:
tuple([2, 3, 5])

In [ ]:
tuple('235')

#### Packing and unpacking
Packing is the exclusive techinque of `tuple`. Unpacking works on all list-like objects.

In [2]:
# packing
rectangle = 5, 8, 40
rectangle

(5, 8, 40)

In [4]:
# packing
rectangle = 5, 8, 40

# unpacking
width, length, area = rectangle

print(f'Area = Width * Length = {width} * {length} = {area}')

Area = Width * Length = 5 * 8 = 40

## 1.5. Range
The `range()` function generates a list of equally spaced integers.

In [1]:
digits = range(10)
digits

range(0, 10)

In [2]:
range(4, 16, 2)

range(4, 16, 2)

In [ ]:
# range slicing
digits = range(10)
digits[2]

Converting a `range` object to `list` shows its elements.

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 2. Set
You can think of `set` as `list` with no duplicates. `set` objects can be defined using braces `{}` or the `set()` constructor.

## 2.1. Creating sets

In [4]:
{1, 1, 2, 2, 2, 3}

{1, 2, 3}

In [5]:
set([1, 3, 2, 3, 1, 1])

{1, 2, 3}

In [6]:
{1, 2, 3} == {3, 2, 1}

True

## 2.2. Set manipulation

#### Working with a single set

In [1]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

In [2]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

In [3]:
my_set = {1, 2, 3, 4, 5}
my_set.discard(5)
my_set

{1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.remove(6)
my_set

**Note:** `set.remove()` & `set.discard()` is a pair of methods share the same functionality but one method raises error (the given item is not in the set), the other tries to legalize that error (doing nothing).

In [ ]:
sum({1, 2, 3, 4, 5})

In [ ]:
min({1, 2, 3, 4, 5})

In [ ]:
len({1, 2, 3, 4, 5})

#### Working with two sets

In [4]:
a = {0, 1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8, 9}
a.union(b)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
a = {0, 1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8, 9}
a.intersection(b)

{3, 4, 5}

In [6]:
a = {0, 1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8, 9}
a.difference(b)

{0, 1, 2}

In [ ]:
a = {0, 1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8, 9}
a.symmetric_difference(b)

In [ ]:
a = {1, 2, 3}
b = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
a.issubset(b)

In [ ]:
a = {1, 2, 3}
b = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
b.issuperset(a)

# 3. Dictionary
Dictionary is a mutable 2-dimentional obejct containing key-value pairs, where keys are unique.

## 3.1. Creating dictionaries
`dict` objects are defined using braces `{}` and use colons `:` on spliting key-value pairs or using the `dict()` constructor.

In [4]:
{'python': 6, 'jupyter': 0, 'jupyter': 7, 'kaggle': 6}

{'python': 6, 'jupyter': 7, 'kaggle': 6}

In [4]:
dict(python=6, jupyter=7, kaggle=6)

{'python': 6, 'jupyter': 7, 'kaggle': 6}

In [7]:
dict([['python', 6], ['jupyter', 7], ['kaggle', 6]])

{'python': 6, 'jupyter': 7, 'kaggle': 6}

In [ ]:
{1: 2, 3: 4} == {3: 4, 1: 2}

#### Zipping
The `zip()` function creates a nested tuple from the given iterables where their items come in pairs.

In [19]:
zipped = zip(['a', 'b', 'c'], [1, 2, 3])
list(zipped)

[('a', 1), ('b', 2), ('c', 3)]

In [20]:
zipped = zip(['a', 'b', 'c'], [1, 2, 3])
dict(zipped)

{'a': 1, 'b': 2, 'c': 3}

## 3.2. Dictionary manipulation

#### Keys and values

In [ ]:
my_dict = dict([['python', 6], ['jupyter', 7], ['kaggle', 6]])

Extracting keys and values.

In [ ]:
my_dict.keys()

In [ ]:
my_dict.values()

In [ ]:
my_dict.items()

The `in` statement checks whether an object is a dictionary's items or not.

In [6]:
'python' in my_dict

False

#### Value accessing
You can use a key to access the corresponding value and execute value assignment. Note that this is not slicing.

In [8]:
# access value using key
my_dict = dict([['python', 6], ['jupyter', 7], ['kaggle', 6]])
my_dict['python']

6

In [2]:
# add a new key-value pair
my_dict = {'python': 6, 'jupyter': 7, 'kaggle': 6}
my_dict['anaconda'] = 8
my_dict

{'python': 6, 'jupyter': 7, 'kaggle': 6, 'anaconda': 8}

In [2]:
# change the value of an existing key
my_dict = {'python': 1, 'jupyter': 7, 'kaggle': 6}
my_dict['python'] = 6
my_dict

{'python': 6, 'jupyter': 7, 'kaggle': 6}

The `del` statement deletes an existing key-value pair.

In [7]:
my_dict = {'python': 6, 'jupyter': 7, 'kaggle': 6}
del my_dict['kaggle']
my_dict

{'python': 6, 'jupyter': 7}

#### Modifying keys
Dictionaries do not allow modifying keys. However, this can be done indirectly the `pop()` method, which delete a key an return the corresponding value.

In [5]:
my_dict = {'kaggle': 6, 'jupyter': 7, 'anaconda': 8}
my_dict['python'] = my_dict.pop('kaggle')
my_dict

{'jupyter': 7, 'anaconda': 8, 'python': 6}

#### Updating
The `update()` method adds new, updates duplicated and keeps existing keys.

In [9]:
data1 = {
    'name': ['Taylor', 'Patrick', 'Sam'],
    'phone': ['0912345678', '01600000016']}
data2 = {
    'gender': ['female', 'male', 'male'],
    'phone': ['0912345678', '0300000016', '0312345678']}
data1.update(data2)
data1

{'name': ['Taylor', 'Patrick', 'Sam'],
 'phone': ['0912345678', '0300000016', '0312345678'],
 'gender': ['female', 'male', 'male']}

## 3.3. Looping over a dictionary

In [19]:
my_dict = {'kaggle': 6, 'jupyter': 7, 'anaconda': 8}
for key in my_dict:
    print(key)

kaggle
jupyter
anaconda

In [21]:
my_dict = {'kaggle': 6, 'jupyter': 7, 'anaconda': 8}
for key in my_dict.keys():
    print(key)

kaggle
jupyter
anaconda

In [23]:
my_dict = {'kaggle': 6, 'jupyter': 7, 'anaconda': 8}
for value in my_dict.values():
    print(value)

6
7
8

In [25]:
my_dict = {'kaggle': 6, 'jupyter': 7, 'anaconda': 8}
for key, value in my_dict.items():
    print(f'The length of "{key}" is {value}')

The length of "kaggle" is 6
The length of "jupyter" is 7
The length of "anaconda" is 8

# Recap of data structures
Object        |Defining syntax     |Constructor  |Accessibility|Sliceability|Uniqueness|Mutability|
:------------:|:-------------------|:------------|:------------|:-----------|:--------:|:--------:|
**String**    |`x = '123'`         |`str()`      |`x[0]`       |`x[0:2:1]`  |          |          |
**List**      |`x = [1, 2, 3]`     |`list()`     |`x[0]`       |`x[0:2:1]`  |          |&#128504; |
**Tuple**     |`x = (1, 2, 3)`     |`tuple()`    |`x[0]`       |`x[0:2:1]`  |          |          |
**Set**       |`x = {1, 2, 3}`     |`set()`      |             |            |&#128504; |&#128504; |
**Frozen set**|                    |`frozenset()`|             |            |&#128504; |          |
**Dictionary**|`x = {'a':1, 'b':2}`|`dict()`     |`x['a']`     |            |&#128504; |&#128504; |

The data structures above are also called **iterables** (an object can be looped over using a `for` loop). The iterables having ordered items are called **sequences**.

# 4. Iterable comprehensions
A short and clear way creating lists and dictionaries.

## 4.1. List comprehension

#### Basic list comprehension

In [2]:
digits = []
for i in range(10):
    digits.append(i**2)
digits

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
list1 = [1, 8, 5]
list2 = [2, 4, 9]

[x+y for x, y in zip(list1, list2)]

[3, 12, 14]

#### Printing elements

In [26]:
from datetime import date
data = [
    date(2020, 1, 1),
    date(2020, 1, 2),
    date(2020, 1, 3),
    date(2020, 1, 4),
    date(2020, 1, 5),
    date(2020, 1, 6),
    date(2020, 1, 7)
]

_ = [print(i) for i in data]

2020-01-01
2020-01-02
2020-01-03
2020-01-04
2020-01-05
2020-01-06
2020-01-07

#### List comprehension with conditions

In [31]:
[i*i for i in range(10) if i%2 == 0]

[0, 4, 16, 36, 64]

In [32]:
[i*i for i in range(10) if (i < 3) or (i > 8)]

[0, 1, 4, 81]

#### Nested list comprehension

In [16]:
# flatten a nested list
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8]
]

[entry for row in matrix for entry in row]

[1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
# create the transpose
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8]
]

[[row[i] for row in matrix] for i in range(4)]

[[1, 5], [2, 6], [3, 7], [4, 8]]

## 4.2. Dictionary comprehensions

In [3]:
felidae = ['lion', 'tiger', 'leopard', 'jaguar', 'panther', 'cheetah', 'puma']
{key: len(key) for key in felidae}

{'lion': 4,
 'tiger': 5,
 'leopard': 7,
 'jaguar': 6,
 'panther': 7,
 'cheetah': 7,
 'puma': 4}

In [33]:
{i: i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}