# 1. Working with operating system

## 1.1. Directory
The absolute path begins from the root folder. The relative path begins from the working folder.

In [ ]:
# absolute path
r'E:\Documents\Data Science\Python\Notes\data\anscombe.xlsx'

In [ ]:
# relative path
r'data\anscombe.xlsx'

In [ ]:
# the parent folder
r'..'

## 1.2. Opearting system

In [1]:
import os

The `listdir()` function returns all files and folder in the given folder. If no folders was passed, it takes the current folder as default.

In [ ]:
os.listdir(r'data')

In [ ]:
os.listdir()

In [ ]:
os.listdir(r'..')

The `os.path.join()` creates a path from the given folders and files. The slashes `/` or backslashes `\` may be used depend on the platform.

In [ ]:
os.path.join('data', 'anscombe.xlsx')

The `os.path.abspath()` converts a relative path to an absolute path.

In [ ]:
os.path.abspath('data')

The `os.path.isdir()` function checks whether a path exists or not.

In [ ]:
os.path.isdir(r'data\anaconda')

# 2. Connecting to SQL

## 2.1. SQL Server
The `pyodbc` library is used to connect to SQL Server.

In [ ]:
import pandas as pd
import pyodbc

#### Connecting
For local database, use a trusted connection. Otherwise, provide username and password.

In [ ]:
# local database information
driver = 'SQL Server Native Client 11.0'
server = ''
database = ''

# connect
connect = pyodbc.connect(
    f'Driver={{{driver}}};'
    f'Server={server};'
    f'Database={database};'
    f'Trusted_Connection=yes;'
)
cursor = connect.cursor()

In [ ]:
# database with username and password
driver = 'SQL Server'
server = '116.118.119.204,8433'
database = 'PMS_CON'
username = 'aivn_dbuser'
password = 'ai@lgp2020'

# connect
connect = pyodbc.connect(
    f'Driver={{{driver}}};'
    f'Server={server};'
    f'Database={database};'
    f'UID={username};'
    f'PWD={password};'
)
cursor = connect.cursor()

#### Listing all tables

In [ ]:
cursor.execute('''
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'dbo'
''')

[table[0] for table in cursor.fetchall()]

#### Running a query

In [ ]:
query = '''
SELECT TOP 5 *
FROM PROJECT_BUDGET_ADJ
'''

pd.read_sql_query(query, connect)

#### Reading an entire table

In [ ]:
table = ''

pd.read_sql_query(f'SELECT * FROM {table}', connect)

## 2. Postgre SQL
The `psycopg2` library is used to connect to Postgre SQL.

#### Connecting

In [ ]:
import pandas as pd
import psycopg2

In [ ]:
# database information
host = '101.96.116.82'
port = '8182'
database = 'tintuc_haisan'
username = 'mp_quantri'
password = 'asdaw@23423das'

# connect
connect = psycopg2.connect(host=host, port=port, dbname=database, user=username, password=password)
cursor = connect.cursor()

#### Listing all tables

In [ ]:
cursor.execute('''
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public'
AND table_name != 'user'
''')

[table[0] for table in cursor.fetchall()]

#### Running a query

In [ ]:
query = '''
SELECT *
FROM bow
LIMIT 5
'''

pd.read_sql_query(query, connect)

#### Reading an entire table

In [ ]:
table = ''

pd.read_sql_query(f'SELECT * FROM {table}', connect)

# 3. Connecting to web APIs

In [1]:
import pandas as pd
import requests
import json

pd.options.display.max_rows = 200

In [2]:
url = 'https://api.clashroyale.com/v1/players/%232082RVQQ'
headers = {
    'Accept': 'application/json',
    'authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjRiZGI1NTliLTk3ZDctNGZkNy1iMTQ3LTg2MzBmZjg5MTI4MCIsImlhdCI6MTYxMjM0NDY2OSwic3ViIjoiZGV2ZWxvcGVyLzI5OWUwODM3LTlmZTctNjJhNC01ODU1LTFlOWE4MjJmM2IxNyIsInNjb3BlcyI6WyJyb3lhbGUiXSwibGltaXRzIjpbeyJ0aWVyIjoiZGV2ZWxvcGVyL3NpbHZlciIsInR5cGUiOiJ0aHJvdHRsaW5nIn0seyJjaWRycyI6WyIxNC4yNDguMTM0LjIyNCJdLCJ0eXBlIjoiY2xpZW50In1dfQ.kzAR6YH39hq-G6ZCedDcecq0CGYuhtfrkarTbbQ1sp3x04lBf8zOAY-Aaj5d78B5gysk0lRtdm1G3mWCJsT1dg'}

In [4]:
response = requests.get(url=url, headers=headers)
data = response.json()
data = data['cards']
data = {i: data[i] for i in range(len(data))}

In [10]:
pd.Categorical(df.rarity, categories=['Common', 'Rare', 'Epic', 'Legendary'])

[Common, Common, Common, Common, Common, ..., Rare, Rare, Rare, Rare, Rare]
Length: 102
Categories (4, object): [Common, Rare, Epic, Legendary]

In [12]:
rarity = {13: 'Common', 11: 'Rare', 8: 'Epic', 5: 'Legendary'}

df = pd.DataFrame.from_dict(data, orient='index')
df = df.assign(rarity=df.maxLevel.map(rarity))
df = df.assign(starLevel=df.starLevel.fillna(0).astype(int))
df = df.assign(level=df.level+13-df.maxLevel)
df = df.assign(rarity=pd.Categorical(df.rarity, categories=['Common', 'Rare', 'Epic', 'Legendary']))
df = df.drop(columns=['iconUrls', 'maxLevel'])
df = df[['id', 'rarity', 'name', 'level', 'starLevel', 'count']]

df = df.sort_values(by=['rarity', 'level'])
df = df.reset_index(drop=True)

df

           id     rarity              name  level  starLevel  count
0    26000041     Common       Goblin Gang     13          1      0
1    26000019     Common     Spear Goblins     13          1      0
2    26000000     Common            Knight     13          1      0
3    27000006     Common             Tesla     13          1      0
4    26000080     Common  Skeleton Dragons     13          1      0
5    26000064     Common       Firecracker     13          1      0
6    28000018     Common    Royal Delivery     13          1      0
7    27000002     Common            Mortar     13          1      0
8    28000001     Common            Arrows     13          3      0
9    26000053     Common           Rascals     13          1      0
10   26000001     Common           Archers     13          1      0
11   26000084     Common    Electro Spirit     13          1      0
12   26000031     Common      Fire Spirits     13          1      0
13   26000005     Common           Minions     13          1      0
14   27000000     Common            Cannon     13          3      0
15   26000022     Common      Minion Horde     13          1      0
16   26000010     Common         Skeletons     13          1      0
17   26000049     Common              Bats     13          1      0
18   26000013     Common            Bomber     13          1      0
19   26000043     Common  Elite Barbarians     13          1      0
20   28000017     Common    Giant Snowball     13          1      0
21   26000030     Common        Ice Spirit     13          1      0
22   26000047     Common    Royal Recruits     13          1      0
23   26000024     Common       Royal Giant     13          1      0
24   26000008     Common        Barbarians     13          1      0
25   26000002     Common           Goblins     13          1      0
26   26000056     Common   Skeleton Barrel     13          1      0
27   28000008     Common               Zap     13          1      0
28   26000068       Rare     Battle Healer     13          1      0
29   28000014       Rare        Earthquake     13          1      0
30   26000021       Rare         Hog Rider     13          3      0
31   26000039       Rare       Mega Minion     13          1      0
32   26000040       Rare       Dart Goblin     13          1      0
33   27000001       Rare        Goblin Hut     13          1      0
34   27000003       Rare     Inferno Tower     13          1      0
35   26000057       Rare    Flying Machine     13          1      0
36   28000016       Rare       Heal Spirit     13          1      0
37   26000059       Rare        Royal Hogs     13          1      0
38   27000007       Rare  Elixir Collector     13          1      0
39   26000003       Rare             Giant     13          1      0
40   26000011       Rare          Valkyrie     13          1      0
41   27000005       Rare     Barbarian Hut     13          1      0
42   26000028       Rare  Three Musketeers     13          1      0
43   27000010       Rare           Furnace     13          1      0
44   26000067       Rare      Elixir Golem     13          1      0
45   28000000       Rare          Fireball     13          2      0
46   26000052       Rare           Zappies     13          1      0
47   27000012       Rare       Goblin Cage     13          1      0
48   27000009       Rare         Tombstone     13          1      0
49   26000014       Rare         Musketeer     13          2      0
50   27000004       Rare        Bomb Tower     13          1      0
51   28000003       Rare            Rocket     13          1      0
52   26000018       Rare    Mini P.E.K.K.A     13          1      0
53   26000038       Rare         Ice Golem     13          1      0
54   26000017       Rare            Wizard     13          1      0
55   26000036       Rare        Battle Ram     13          2      0
56   28000002       Epic              Rage     11          0     83
57   28000013       Epic             Clone     11          0     46
58   26000012       Epic     Skeleton Army     11          0     86
59   27000008       Epic             X-Bow     11          0     46
60   28000006       Epic            Mirror     11          0     43
61   28000005       Epic            Freeze     11          0     61
62   26000060       Epic      Goblin Giant     12          0     63
63   26000020       Epic    Giant Skeleton     12          0     57
64   26000007       Epic             Witch     12          0      2
65   26000027       Epic       Dark Prince     13          1      0
66   28000007       Epic         Lightning     13          1      0
67   26000016       Epic            Prince     13          1      0
68   28000004       Epic     Goblin Barrel     13          3      0
69   26000006       Epic           Balloon     13          3      0
70   26000044       Epic            Hunter     13          3      0
71   26000034       Epic            Bowler     13          2      0
72   26000063       Epic    Electro Dragon     13          1      0
73   26000045       Epic       Executioner     13          2      0
74   26000025       Epic            Guards     13          2      0
75   26000058       Epic     Wall Breakers     13          1      0
76   28000012       Epic           Tornado     13          1      0
77   26000054       Epic       Cannon Cart     13          3      0
78   26000009       Epic             Golem     13          2      0
79   26000015       Epic       Baby Dragon     13          2      0
80   28000015       Epic  Barbarian Barrel     13          2      0
81   26000085       Epic     Electro Giant     13          1      0
82   26000004       Epic         P.E.K.K.A     13          2      0
83   28000009       Epic            Poison     13          1      0
84   26000029  Legendary        Lava Hound     11          0      9
85   26000037  Legendary    Inferno Dragon     12          0      4
86   26000061  Legendary         Fisherman     12          0      6
87   26000083  Legendary      Mother Witch     12          0      1
88   26000035  Legendary        Lumberjack     13          1      0
89   26000026  Legendary          Princess     13          1      0
90   26000032  Legendary             Miner     13          2      0
91   26000048  Legendary       Night Witch     13          2      0
92   26000023  Legendary        Ice Wizard     13          1      0
93   28000011  Legendary           The Log     13          1      0
94   26000051  Legendary         Ram Rider     13          1      0
95   28000010  Legendary         Graveyard     13          1      0
96   26000055  Legendary       Mega Knight     13          2      0
97   26000033  Legendary            Sparky     13          1      0
98   26000062  Legendary      Magic Archer     13          3      0
99   26000042  Legendary    Electro Wizard     13          1      0
100  26000046  Legendary            Bandit     13          1      0
101  26000050  Legendary       Royal Ghost     13          1      0